* {
    padding: 0;
    margin: 0;
    text-align: center;
}

h1 {
    background-color: darkblue;
    color: white;
    height: 5rem;
    line-height: 5rem;
}

.choice {
    height: 170px;
    width: 170px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    
}
.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 3rem;
}

.choice:hover {
    background-color: darkblue;
    cursor: pointer;
}
.scoreboard {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 2rem;
}

#userscore , #compscore {
    font-size: 4rem;
    gap: 5rem;
    

}
.score {}

#msg {
    background-color: darkblue;
    color: white;
    font-size: 2rem;
    
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}
.msg_cont {
    margin-top: 3rem;
}

